.b-container {
    display: inline-flex;
    flex-direction: row;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.b-container__left {
    display: flex;
    flex-direction: column;
}
.b-container__right {
    min-width: 360px;
    display: flex;
    flex-direction: column;
}
.b-container__line {
    padding: 5px 10px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.b-container__line_left {
    font-weight: bold;
} 
.b-container__line_right {

    color: var(--pico-primary-background)              
}
footer * {
    font-size: 12px;
}

.b-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
}
.b-form * {
    margin: 0;
    padding: 0;
}
.b-form input {
    margin: 0 !important;
    padding: 5px  10px !important;
    line-height: 0;
    max-height: 40px;
}
.ans{
    padding: 5px  10px;
    border: 1px solid rgb(42, 49, 64);
}
main {
    padding-bottom: 0px;
}